<!-- mobile navigation controls -->
<div class="mobile-controls ">
  <?php if(  caweb_version_check(5,(is_object($post) ? $post->ID : $post['ID'])) && "" !== get_option('header_ca_branding')) : ?>	
    <span class="mobile-control cagov-logo"><a href="/"><img src="<?php echo get_option('header_ca_branding'); ?>" alt="Organization Title" class="mobile-branding"/></a><span class="sr-only"></span></span>
	 <?php endif; ?>
    <span class="mobile-control toggle-menu hidden-print">
			<span class="ca-gov-icon-menu" aria-hidden="true"></span>
			<span class="sr-only">Menu</span>
		</span>

		<span class="mobile-control toggle-search hidden-print">
			<span class="ca-gov-icon-search" aria-hidden="true"></span>
			<span class="sr-only">Search</span>
		</span>	

</div>
