body{
 background-color: #fff;
}
#main-content > .section{
	padding-top: 0;
}
/*
  Divi Project Styles
 */
article.type-project .entry-content{
  padding-top: 0;
}
/**
* Page Title Style
*/
.page-title{
  padding-top: 30px;
  padding-bottom: 30px;
}
.page-title,
.non_divi_builder .main-content,
#main-content .entry-content .et_builder_inner_content > .et_pb_section > .et_pb_row,
.et_pb_module.et_pb_fullwidth_menu .et_pb_row{
     width: 100%;
     max-width: 1280px;
     margin: 0 auto;
}
.divi_builder .page-title, .non_divi_builder .main-content,
#main-content .entry-content .et_builder_inner_content > .et_pb_section > .et_pb_row,
.et_pb_module.et_pb_fullwidth_menu .et_pb_row{
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px){
.page-title,
.non_divi_builder .main-content,
#main-content .entry-content .et_builder_inner_content >  .et_pb_section > .et_pb_row,
.et_pb_module.et_pb_fullwidth_menu .et_pb_row {
    max-width: 750px !important;
}
}
@media (min-width: 992px){
.page-title,
.non_divi_builder .main-content,
#main-content .entry-content .et_builder_inner_content >  .et_pb_section > .et_pb_row,
.et_pb_module.et_pb_fullwidth_menu .et_pb_row {
    max-width: 970px !important;
}
}
@media (min-width: 1280px){
.page-title,
.non_divi_builder .main-content,
#main-content .entry-content  .et_builder_inner_content > .et_pb_section > .et_pb_row,
.et_pb_module.et_pb_fullwidth_menu .et_pb_row {
    max-width: 1280px !important;
}
}
@media (max-width: 767px){
.page-title,
.non_divi_builder .main-content,
#main-content .entry-content  .et_builder_inner_content >  .et_pb_section > .et_pb_row,
.et_pb_module.et_pb_fullwidth_menu .et_pb_row{
      width: 100% !important;
      margin: 0 auto;
}
.non_divi_builder .main-content,
#main-content .entry-content  .et_builder_inner_content >  .et_pb_section > .et_pb_row{
    padding: 0 15px;
  }

  .divi_builder .page-title{
    padding-bottom: 30px !important;
  }
}
/* Temporary remove the sub nav arrow until the function in the core script is working */
.nav-arrow-down{
  	visibility: hidden;
}
/* Utility Header */
.alert-banner .container,
.utility-header .container{
     max-width: 1280px;
}
.utility-header .container .group{
     display: flex;
}
.utility-header .container .group .social-links,
.utility-header .container .group .settings-links{
     flex-grow: 10;
     padding-left: 15px;
     width: auto;
}
.utility-header ul li {
    cursor: pointer;
}
ul.utility-links.social-media-links{
 margin-left: 45px;
}
.utility-geo-locator .located-city-name{
  margin-left: 0;
}
@media (max-width: 767px){
.utility-header .container{
      width: 100%;
}
.utility-header .utility-links li[class*="utility-custom-"]{
    display: none;
}
}

/* End of Utility Header */

/* Google Translate */
#google_translate_element.standard-translate{
  width: auto;
  flex-grow: 1;
  padding-left: 0;
  text-align: right;
}
#google_translate_element .skiptranslate.goog-te-gadget div {
    color: initial;
}
#google_translate_element .skiptranslate.goog-te-gadget, .skiptranslate.goog-te-gadget a {
    color: white;
}
#google_translate_element.custom-translate .skiptranslate.goog-te-gadget, .skiptranslate.goog-te-gadget a {
    color: inherit;
}
.skiptranslate.goog-te-gadget a:hover{
  color:#fee09c;
}
/* End of Google Translate */

#nav_list{
    width: auto;
	 float: right;
}
.sub-nav{
	left:  0;
  right: 0;
}

.second-level-nav {
    display: initial;
}
.second-level-nav li{
     float: left;
}
/* Full Sub-Nav */
.main-navigation.megadropdown .unit1 .second-level-link{
  height: 65px;
}

.unit2 , .unit3, .unit3  .nav-media .media{
  height: 130px;
}

/* MegaDropdown Navigation Styles */
.full .second-level-nav .unit1 {
    width: 25%;
}

.full .second-level-nav .unit2,
.full .second-level-nav .unit3,
.half .second-level-nav .unit1,
.half .second-level-nav .unit2,
.three-quarters .second-level-nav li.unit2,
.three-quarters .second-level-nav li.unit3{
     width: 50%;
}
.three-quarters .second-level-nav li.unit1{
  	width: 33.3%;
}

.half .second-level-nav .unit3 .nav-media .media .unit2{
  width: 100%;
}
/* Dropdown Navigation Styles */
@media (min-width: 768px){
  .main-navigation.dropdown .sub-nav {
    max-width:250px;
    left: auto; /* IE does not recognize initial */
    left: initial;
    right: auto; /* IE does not recognize initial */
    right: initial;
  }
}

/* Branding & Navigation */

.main-navigation.dropdown .sub-nav ul li{
	width: 100%;
  height: auto;
}
.main-navigation.dropdown .sub-nav ul li img{
	display: none;
}
@media (min-width: 768px){
  .top-level-nav .nav-item {
    padding: 0 6px;
  }
}
@media (min-width: 992px){
  .top-level-nav .nav-item {
    padding: 0 8px;
  }
}
.branding{
  padding: 0;
}
.branding .header-organization-banner img{
     width: auto;
}

/* End of Branding & Navigation */

/* Header Slideshow Banner */

/* position the owl dots */
.header-slideshow-banner .banner-pager, .header-slideshow-banner .banner-play-pause{
  top: inherit;
  bottom: 140px;
  z-index: 6;
}


/* Footer */
footer .container{
     max-width: 1280px;
}
footer .container .group{
     display: flex;
}
.global-footer ul > li{
	padding-left: 0;

}
#footer .quarter {
    flex-grow: 2;
    width: auto;
}

#footer .three-quarters {
    flex-grow: 8;
    width: auto;
}

@media (max-width: 767px){
  footer .container{
    width: 100% !important;
    margin-left: 0;
    margin-right: 0;
  }
}
/* End of Footer */

@media (max-width: 991px) and (min-width: 768px){
.sub-nav .three-quarters {
    left: 0;
    width: 50%;
}

.three-quarters .second-level-nav li.unit1 {
    width: 100%;
}
.three-quarters .second-level-nav li.unit2,
.three-quarters .second-level-nav li.unit3{
  width: 100%;

}
}

/* End of Media Query Styles */
/* Mobile Control */
@media (max-width: 767px) {
  .mobile-controls{
    	background: #fff;
      padding-right: 70px;
      display: inline-block;
  }
  .mobile-controls .toggle-menu, .mobile-controls .toggle-search{
    color: #046B99;
  }
  .mobile-controls .toggle-menu{
    right: 10px;
    left: auto;
  }
  #nav_list{
    width: 100%;
	padding-left: 0;
  }
  .second-level-nav li {
    float: none;
    width: 100% !important;
  }
  .second-level-nav .unit2  .link-description,
  .second-level-nav .unit3 .link-description{
    width: auto;
    height: auto;
    clip: auto;
  }

  .cagov-logo {
		position:static;
    position: initial;
    float: left;
    text-align: left;
    width: 80%;
}
  .cagov-logo img{
  	max-width : 100% ;
    max-height: 90px;
		margin-bottom: 8px;
  }
.branding {
    display: none;
}
}
/* End of Mobile Control Styles */

/* Section Carousel Version 5 */
.et_pb_ca_section_carousel .container{
  padding-top: 10px !important;
}

/* Fullwidth Section Carousel Version 5 */
.et_pb_ca_fullwidth_section_carousel .container{
  padding-top: 10px !important;
}
.list-standout{
	padding-left: 1.5em !important;
}
